:plain
  $("#digest_title").html("#{j(t('.status_of_today', date: l(Date.today, format: :short)))}")
  $("#digest_body").html("#{j(render partial: 'index', locals: {:account_statuses => @account_statuses })}");
