! $("#warning").html('');
! $("#warning").removeAttr("class");
! $("#credit_relations").html('');
- @credit_relations.each do |cr|
  ! $("#credit_relations").append("#{j(render partial: "show", locals: { cr: cr })}");
= highlight("#credit_relation_#{@cr.id} div")

