! $("#credit_relation_#{@cr.id}").replaceWith("#{j (render partial: "show", locals: { cr: @cr })}");
= highlight("#credit_relation_#{@cr.id} div")
! $("#warning").html('');
! $("#warning").removeAttr("class");

