#remains.item_remains
  %span#remains_operation
    - if @tag
      = link_to _('>> Show All'), tag_entries_path(:tag => @tag, :remaining => true), :remote => true, :method => :get, :before => "$('remains_operation').hide();$('remains_loading').show();"
    - elsif @mark
      = link_to _('>> Show All'), mark_entries_path(:mark => @mark, :remaining => true), :remote => true, :method => :get, :before => "$('remains_operation').hide();$('remains_loading').show();"
    - else
      = link_to _('>> Show All'), entries_path(:year => @display_year_month.year, :month => @display_year_month.month, :remaining => true), :remote => true, :method => :get, :before => "$('remains_operation').hide();$('remains_loading').show();"
  %span#remains_loading{:style => "display:none;"}= image_tag "loading.gif", :alt => "loading..."
