= render partial: "items", locals: { items: items }
= render partial: "success_message", locals: { selector: "#warning", message: _('Item was added successfully.') + ' ' + item.action_date.strftime("%Y/%m/%d") + ' ' + item.name + ' ' + CommonUtil.separate_by_comma(item.amount) + _('yen') }
= render partial: "highlight_items", locals: { items: updated_items }
! $('#do_add_item #item_name').val('');
! $('#do_add_item #amount').val('');
! $('#do_add_item #tag_list').val('');
! $('#candidates').html('');
