:plain
  $("#items").html('');
- @items.each do |item|
  :plain
    $("#items").append("#{j(render partial: "item", locals: { event_item: item })}");
:plain
  $("#items").append("#{j(render "remains_link")}");
