:plain
  $("#remains").fadeOut(#{Settings.effect.fade.duration}, function() {
    $("#remains").remove();
  });
- @items.each do |item|
  :plain
    $("#items").append("#{j(render partial: "item", locals: { event_item: item })}");
