<div id="pl_history"></div>
<div id="pl_yearly_history_img_<%= graph_id %>">
<%= image_tag url, :alt => 'yearly graph', :width => 400, :height => 200, :class => "loading-l" %><%= link_to_function 'グラフを隠す', "new Effect.Fade('pl_yearly_history_img_#{graph_id}', {duration: 0.3}); setTimeout(function() { Element.remove('pl_yearly_history_img_#{graph_id}');}, 3000);" %>
</div>

