! $("#account_history").replaceWith("#{escape_javascript(render 'show')}");
! $("#account_history_#{@account_id}").hide();
! $("#account_history_#{@account_id}").show(#{Settings.effect.fade.duration});
