production:
  adapter: sqlite3
  database: db/production.sqlite3
  pool: 5
  timeout: 5000

## For SQL Server JDBC adapter
## 1. uncomment "gem 'activerecord-jdbcmssql-adapter'" in Gemfile and execute 'bundle install'
## 2. uncomment the following lines and replace <...> for your environment
#
# production:
#  adapter: mssql
#  host: <HOST_NAME>
#  instance: <INSTANCE_NAME>
#  database: <DB_NAME>
#  username: <USERNAME>
#  password: <PASSWORD>
#

development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test: &test
  adapter: sqlite3
  database: db/test.sqlite3
  verbosity: quiet
  pool: 5
  timeout: 5000

cucumber:
  <<: *test

