<div id="tag_status_explain" class="drawer"><%= link_to "<span id='tag_icon'>◆</span><span id='tag_loading' style ='display: none;'>#{image_tag('loading.gif', :alt=>'loading...', :border => 0, :height => 12, :width => 12)}</span> タグリスト".html_safe,  tag_status_path, :method => :get, :remote => true, :before => "$('tag_icon').hide(); $('tag_loading').show();" %></div>
