//$border_color: #b8b8b8
$border_color: silver
$border_width: 1px
$border_style: solid
$default_radius: 6px
$item_date_width: 80px
$item_name_width: 200px
$item_from_width: 100px
$item_to_width: 100px
$item_amount_width: 70px
$item_operation_width: 70px
$item_margin: 1px
$item_padding: 1px
$operation_icon_width: 15px
$operation_icon_padding: 1px
$operation_icon_hover_padding: 0px

@mixin operation_icon
  padding: $operation_icon_padding
  width: $operation_icon_width
  border: none
@mixin icon_hover
  @include border-radius(2px)
  padding: $operation_icon_hover_padding
  background: tint(#ffff99, 25%)
  width: $operation_icon_width + 2px

a > img.show_icon, a > img.edit_icon, a > img.destroy_icon, a > img.tweet_icon
  @include operation_icon
a:hover > img.show_icon, a:hover > img.edit_icon, a:hover > img.destroy_icon, a:hover > img.tweet_icon
  @include icon_hover

@mixin default_border
  border: $border_width $border_style $border_color

@mixin row_column_border

@mixin default_header
  font-weight: bold

@mixin default_item_header
  @include default_header
  padding: 2px
  height: 50px

@mixin default_item_line
  padding-top: 3px
  @include row_column_border
  height: 3.3em

.loading
  background: #ffffff url(loading.gif) 50% 50% no-repeat

.loading-l
  background: #ffffff url(loading-l.gif) 50% 50% no-repeat

td.total
  font-weight: bold
  white-space: nowrap

td.total_capital
  font-weight: bold
  white-space: nowrap
  text-align: center

td.money, th.money
  white-space: nowrap
  text-align: right

td.percent
  text-align: right
  white-space: nowrap

td.all_total
  font:
    weight: bold
    size: 1.1em
    style: italic
  color: #0000ff

td.space
  height: 10px

td.noline
  border: 0px

div.item_income, tr.item_income
  background-color: #CCCCFF

div.item_move, tr.item_move
  background-color: #FFFFCC

#monthlist
  text-align: left

div#input_item_area
  @include row_column_border
  margin-top: 0

div#input_item_area p#add_item_explain
  font:
    weight: bold
    size: 1.2em
  margin: 1px

div#itemlistarea
  @include row_column_border

div#asset_graph
  margin: 1px
  width: 300px

div#itemlistarea p#list_item_explain
  font:
    weight: bold
    size: 14px
  margin: 1px

div.status_drawer
  @include row_column_border

table#account_status_table
  width: 100%

div.wrapper

.drawer
  background: #C9C9C9 url(header-bg.gif) repeat-x
  @include default_border
  @include border-top-radius($default_radius)
  a
    font:
      weight: bold
      size: 1.0em
    margin-left: 2px
    color: black
    text-decoration: none
  &:hover
    background: tint(silver, 60%)

div#left_area

div#right_area

div#warning, .warning
  color: red

.table_header
  white-space: nowrap

.footer
  clear: both
  mergin-top: 8px

div.item
  border-bottom: $border_width $border_style $border_color

div.item_adjustment
  background-color: #f3edd2

div.item_date
  @include default_item_line
  @include border-left-radius($default_radius)

div.item_headers
  border-bottom: $border_width $border_style $border_color

div.item_date_header
  @include default_item_header
  @include border-left-radius($default_radius)

div.item_name
  @include default_item_line

div.item_name_header
  @include default_item_header

div.item_from
  @include default_item_line

div.item_to
  @include default_item_line

div.item_from_to_header
  @include row_column_border
  @include default_item_header
  text-align: center

div.item_amount
  @include default_item_line
  text-align: right

div.item_amount_header
  @include default_item_header

div.item_operation
  @include default_item_line
  @include border-right-radius($default_radius)

div.item_operation_header
  @include default_item_header
  @include border-bottom-right-radius($default_radius)

div.cfg_account_list
  background-color: #ffffff
  @include row_column_border

div.cfg_credit_relation_list
  @include row_column_border

div.cfg_account
  height: 22px
  border-bottom: $border_width $border_style $border_color

div.cfg_account_name
  @include row_column_border

div.cfg_account_order
  @include row_column_border

div.cfg_account_operation
  @include row_column_border
  text-align: center

div.cfg_account_header
  @include default_header

div.cfg_credit_relations_header
  @include default_header
  height: 22px
  border-bottom: $border_width $border_style $border_color

div.cfg_credit_relation
  height: 22px
  border-bottom: $border_width $border_style $border_color

div.cfg_credit_relation_name

div.cfg_payment_relation_name

div.cfg_settlement_day

div.cfg_payment_date

div.cfg_credit_relation_operation

div#bslist
  background-color: #ffffff

div#pllist
  background-color: #ffffff

div.item_remains
  text-align: right

.item_confirmation_required
  color: orange
  text-decoration: none
  cursor: pointer

.item_confirmation_not_required
  color: silver
  text-decoration: none
  cursor: pointer

input[type=submit]
  @extend .btn
  @extend .btn-primary

input[type=submit][disabled]
  color: gray

.trivial_link
  color: gray
  font-size: 0.8em

@font-face
  font-family: Emolett
  src: url("Emolett.woff") format("woff"), url("Emolett.otf") format("opentype")

.emolett, .emo
  font-family: Emolett

